.homelove{
    padding: 10px;
    text-align: start;
    margin-top: 5px;
    background-color: white;
}

.container {
    max-width: 1100px;
    margin: auto;
    text-align: start;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}


.homelove-carosuel{
    max-width: 100%;
}

.homelove-card{
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: start;
    width: 300px;
    
}

.homelove-image img{
    width: 263px;
    height: 210px;
    object-fit: cover;
    border-radius: 8px;
}

.homelove-p1 {
    font-size: 14px;
    color: #777;
    margin: 8px;
   }

.homelove-h {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    word-wrap: break-word;
}

.homelove-view {
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    gap: 8px;
    margin: 10px ;
}
.homelove-view-btn {
    background-color: #003B95;
    color: white;
    border: none;
    padding: 5px 6px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: default;
}

.homelove-view-p {
    font-size: 14px;
    color: #444;
    font-weight: bold;
}

.homelove-view-review {
    font-size: 12px;
    color: #777;
}

.homelove-price {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-top: 20px;
}

.homelove-price-p {
    font-size: 14px;
    color: #555;
    
}

.homelove-rupee {
    font-size: 18px;
    font-weight: bold;
    color: black;
}
