.india{
    padding: 10px;
    text-align: start;
    margin-top: 5px;
    background-color: white;

}
.container {
    max-width: 1100px;
    margin: auto;
    text-align: start;
}

.india-h{
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;

}

.india-p{
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}



.india-img{
    width: 24px;
    height: 24px;
    margin-right: 8px;

}
.india-carousel{
    max-width: 100%;
}
.india-card{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align:start;
    padding: 15px;
}

.india-image{
    width: 100%;
    max-width: 170px;
    height: 136px;
    overflow: hidden;
    border-radius: 8px;

}
.india-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
h5 {
    font-size: 16px;
    color: black;
    font-weight: bold;
    justify-content: flex-start;
    margin-top: 5px;
    width: 170px;
    height: 24px;
}

.india-dis{
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    width: 170px;
    height: 20px;
}