* {
    font-family: 'Segoe UI', sans-serif, Arial;
    margin: 0;
    padding: 0;
 }
 
 .offer .container, h2{
    margin-top: 100px;
 }
.para{
    margin-top: 10px;
    color: black;
    font-size: 15px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 20px;
    margin-top: 20px;
  }
  
  