.property {
    padding: 10px;
    text-align: start;
    margin-top: 20px;
    background-color: white;
}

.container {
    max-width: 1100px;
    margin: auto;
    text-align: start;
}



.carousel1 .slick-prev,
.carousel1 .slick-next {
    z-index: 2;
}


.carousel1 .slick-prev::before,
.carousel1 .slick-next::before {
    font-size: 45px;
    color: #b3b0b0; 
    border-width: 0 3px 3px 0;
    /* border: 1px solid #ccc; */
    /* padding: 5px; */
}
.carousel1 .slick-prev:hover::before,
.carousel1 .slick-next:hover::before {
    color: #beb7b7; 
    border-color: #5e5a5a;
}

/* Adjust position of the right arrow */
.carousel1 .slick-next {
    top: 100px;
    /* left: 1110px; */
    right: 0px; 
    transform: translateX(-50%);
    z-index: 2; 
}

.carousel1 .slick-prev {
    top: 110px;
    left: 0px;
    z-index: 2;
}



h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.carousel1 {
    max-width: 100%;
}

.property-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align:start;
    padding: 15px;
}

.property-image {
    width: 100%;
    max-width: 250px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

.property-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.property-content {
    margin-top: 10px;
}

 h5 {
    font-size: 20px;
    color: black;
    font-weight: bold;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .property-image {
        max-width: 200px;
        height: 150px;
    }

    .property-card {
        padding: 10px;
    }
}
