.searchbar {
    position: absolute;
    width: 74vw;
    bottom: -100px;
}

.upper-searchbar {
    background-color: #FFB700;
    padding: 5px 5px;
    border-radius: 10px;
    margin-right: 2px;
    margin-bottom: 2px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.sec1{
    display: flex;
    padding: 5px 5px;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    width: 100%;
}

.sec2
    {
        display: flex;
        padding-left: 5px;
        padding-right: 5px;
        /* padding-left: 7px; */
        align-items: center;
        background-color: white;
        border-radius: 5px;
        width: 100%;
      
    }
    

.sec3 {
    display: flex;
    padding: 5px 5px;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    width: 100%;
}

.sec2 img, .sec1 img, .sec3 img {
    width: 30px;
    height: 30px;
}

.sec2 .daty {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}
    
input[type="date"] {
    cursor: pointer;
}
input[type="text"] {
    width: 100%;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: rgb(26, 26, 26);
    padding: 5px 5px;
    border: none;
    /* padding: 5px 5px; */
    box-sizing: border-box; /* Ensures padding and borders are included in the width */
}


.sec1, .sec2, .sec3:hover {
    border-color: orange;
}

.stay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}


.sec-img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.sec-1 {
    padding: 12px 25px;
    background-color: #006CE4;
    font-size: bold;
    color: white;
    border-radius: 5px;
    border: #006CE4;
    font-weight: 400;
    font-size: 15px;
    margin-right: 4px;
}

.sec-1:hover {
    background-color: #003B95;
}

.lower-searchbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.lowerLeft {
    display: flex;
    font-size: 16px;
    color: #333;
    padding-top: 20px;
}
.sec3 {
    position: relative;
    cursor: pointer;
}


.cardy {
    position: absolute;
    padding: 20px;
    top: 70%;
    right: 0;
    width: 400px;
    background-color: #ffffff;
    color: #333;
    z-index: 9999;
    box-shadow: 4px 4px 10px #ccc;
    border-radius: 10px;
    padding: 20px; /* Add padding inside the card */
}

.data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.adult1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adult1 p {
    color: rgb(26, 26, 26);
    font-size: 14px;
    font-weight: 500;
}

.myBtn p{
    font-size: 14px;
}

.myBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(26, 26, 26);
    width: 100px;
    height: 30px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.myBtn:hover {
    border-color: #ffb700;
    transform: scale(1.05);
}

.myBtn p {
    margin: 0;
    text-align: center;
    width: 30px;
}

.parag {
    display: flex;
    flex-direction: column;
    color: black;
}

.parag .pet {
    display: flex;
    justify-content: space-between;
}


.parag .pet p {
    color: black;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.parag .cont p {
    font-size: 12px;
    color: black;
    margin-bottom: 0px;
}
.myLine {
    margin: 5px;
}
.parag .cont a{
    font-size: 12px;
    color: rgb(0, 108, 228);
    font-weight: 400;
    text-decoration: none;
}

.checkbox{
    width: 18px;
    height: 18px;
    margin-right: 8px;
    cursor: pointer;
}
.check-box-text{
    cursor: pointer;
    font-size: 15px;
}

.DoneBtn {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 108, 228);
    background-color: #ffffff;
    border: 1px solid rgb(0, 108, 228);
    padding: 10px;
    border-radius: 5px;
}

.DoneBtn:hover {
    cursor: pointer;
    background-color: #eef3fc;
}



@media (max-width: 1286px) {
        .searchbar {
            width: 87vw;
        }
}
@media(max-width: 1235px) {
    .searchbar{
        width: 90vw;
    }
}
@media(max-width: 1200px) {
    .searchbar{
        width: 78vw;
    }
    .upper-searchbar {
        padding: 0 10px;
    }
}

@media(max-width: 1050px) {
    .searchbar{
        width: 72vw;
    }
}
@media(max-width: 800px) {
    .searchbar{
        width: 72vw;
    }
}
@media(max-width: 890px) {
    .searchbar{
        width: 78vw;
    }
}
@media(max-width: 810px) {
    .searchbar{
        width: 85vw;
    }
}
@media(max-width: 780px) {
    .searchbar{
        width: 72vw;
    }
}

@media(max-width: 637px) {
    .searchbar{
        width: 80vw;
    }
}
@media(max-width: 580px) {
    .searchbar{
        width: 91vw;
    }
}




@media (max-width: 936px) {
    .upper-searchbar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 10px;
        padding: 10px;
    }

    .searchbar {
        bottom: -200px;
    }
    .sec1, .sec2, .sec3 {
        width: 100%;
    }

    .sec-1 {
        width: 100%;
        padding: 12px 0;
        font-size: 16px;
    }

    .stay {
        /* justify-content: space-between; */
        gap: 10px;
    }

    .lower-searchbar {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 936px) {
    .cardy {
      position: absolute;
      width: 90vw;
      left: 0;
      top: 100%;
      margin-top: 5px;
      box-shadow: 4px 4px 10px #ccc;
      z-index: 999;
    }
  
    .sec3 {
      position: relative; /* Ensure .cardy is positioned relative to this */
    }
  }
