.unique-prop {
    padding: 10px;
    text-align: start;
    margin-top: 5px;
    background-color: white;
}

.container {
    max-width: 1100px;
    margin: auto;
    text-align: start;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
/* Media Queries */
@media (max-width: 1024px) {
    .unique-prop-p1,
    .unique-prop-view-p,
    .unique-prop-price-p {
        font-size: 13px;
    }
}