.unique-prop{
    padding: 10px;
    text-align: start;
    margin-top: 5px;
    background-color: white;
}

.container {
    max-width: 1100px;
    margin: auto;
    text-align: start;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.unique-prop-p{
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.unique-prop-carosuel{
    max-width: 100%;
}

.unique-prop-card{
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: start;
    width: 300px;
    
}

.unique-prop-image img{
    width: 263px;
    height: 210px;
    object-fit: cover;
    border-radius: 8px;
}

.unique-prop-p1 {
    font-size: 14px;
    color: #777;
    margin: 8px;
   }

.unique-prop-h {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    word-wrap: break-word;
}

.unique-prop-view {
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    gap: 8px;
    margin: 10px ;
}
.unique-prop-view-btn {
    background-color: #003B95;
    color: white;
    border: none;
    padding: 5px 6px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: default;
}

.unique-prop-view-p {
    font-size: 14px;
    color: #444;
    font-weight: bold;
}

.unique-prop-view-review {
    font-size: 12px;
    color: #777;
}

.unique-prop-price {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-top: 20px;
}

.unique-prop-price-p {
    font-size: 14px;
    color: #555;
    
}

.unique-prop-rupee {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.unique-prop-carousel .slick-prev,
.unique-prop-carousel .slick-next {
    z-index: 2;
}

.unique-prop-carousel .slick-prev::before,
.unique-prop-carousel .slick-next::before {
    font-size: 45px;
    color: #b3b0b0; 
    border-width: 0 3px 3px 0;
    /* border: 1px solid #ccc; */
    /* padding: 5px; */
}
.unique-prop-carousel .slick-prev:hover::before,
.unique-prop-carousel .slick-next:hover::before {
    color:  #5e5a5a;
    border-color:#beb7b7; 
}

/* Adjust position of the right arrow */
.unique-prop-carousel .slick-next {
    top: 150px;
    /* left: 1110px; */
    right: 0px; 
    transform: translateX(-30%);
    z-index: 2; 
}

.unique-prop-carousel .slick-prev {
    top: 150px;
    left: 0px;
    transform: translateX(-100%);
    z-index: 2;
}


